extends layout

block content
    section#main.column
      .clear
      article.module.width_full
        header
          h3 Welcome to Administration.
        .module_content
          p You can admin and do stuff..
      //
         end of styles article 
      .spacer
