body {
	background-color: WHITE;
	margin:0;
	padding:0;

}

div.scroll {
    margin:0 auto;
    text-align:left;
    height: 165px;
    width:95%;
    overflow: hidden;
}

#page {
	width: 1000px;
	margin:0 auto;			
	padding: 10px;
	text-align:left; /* "remédio" para o hack do IE */	
}

#conteudoGeral {
	padding: 5px;
}

#header {
	margin: 0px auto;
	color: black;
	margin-left: 20px;
	margin-bottom: 2px;
}

#conteudo {

}

#left {
	border-radius: 5px;
	background-color: GREY;
	float: left;
	margin-right: 0px;
	margin-top: 2px;
	margin-left: 20px;
	height: 560px;
	/*width: 692px;*/

}

#scoreboard {
	/*border-radius: 5px;
	background-color: GREY;
	float: left;
	margin-right: 0px;
	margin-top: 2px;
	margin-left: 20px;
	height: 560px;*/
	/*width: 692px;*/

}


#right {
	float: left;
	margin-right: 20px;
	margin-top: 2px;
	margin-left: 5px;
	/*height: 560px;*/
	height: auto;
}

#answer {
	border-radius: 5px;
	background-color: GREY;
	float: left;
	height: 340px;
	margin-right: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	/*text-align: center;*/
	width: 200px;
	/*height: 560px;*/
	min-height:198px;
	color: black;
	padding-left: 2px;
}

#news {
	border-radius: 5px;
	background-color: GREY;
	float: left;
	height: 400px;
	margin-right: 20px;
	margin-left: 5px;
	/*text-align: center;*/
	width: 200px;
	/*height: 560px;*/
	height: auto;
	min-height:198px;
	color: black;
}

#leaderboard {
	border-radius: 5px;
	background-color: GREY;
	float: left;
	height: 212px;
	margin-right: 20px;
	margin-left: 5px;
	/*text-align: center;*/
	width: 200px;
	/*height: 560px;*/
	color: black;
}

#leaderboard_public {
	border-radius: 5px;
	background-color: GREY;
	float: left;
	height: 300px;
	margin-right: 20px;
	margin-left: 5px;
	margin-bottom: 260px;
	/*text-align: center;*/
	width: 200px;
	/*height: 560px;*/
	color: black;
}

#leaderboard h1 {
	margin-top: 5px;
	margin-left: 10px;
}

#scores {
	margin-left: 10px;
	
}

#legenda {
	display: block;
}

div.legenda { 
	border-radius: 5px;
	float: left;
	height: 20px;
	margin-left: 10px;
	margin-top: 22px;
	margin-bottom: 5px;
	width: 20px;
	color: black;
}
	
div.legenda_text { 
	height: 20px;
	margin-left: 2px;
	margin-top: 25px;
	color: black;
	float: left;
	text-align: center;
}
	
.pontuacao_selected{ 
	border: 2px solid black;
	border-color: #0074CC;
}	
.pontuacao_correct { 
	border: 2px solid #00BD00;
	background-color: #00BD00;
}
.pontuacao_no_answer { 
	border: 2px solid #E0E0E0;
	background-color: #E0E0E0;
}
.pontuacao_closed{ 
	border: 2px solid #E0E0E0;
	border-color: #E0E0E0;
}
.pontuacao_closed:hover{ 
	border: 2px solid black;
	border-color: #E0E0E0;
}
.pontuacao_can_open{ 
	border: 2px solid gold;
}
#footer {
	margin: 0px auto;
	color: white;
	margin-left: 20px;
	margin-bottom: 2px;

}



div.exampleborderradiusa.pontuacao_no_answer:hover{
	border: 2px solid black;
	border-color: #0074CC;
}
.exampleborderradiusatop { 
	color: white;
	font-size: 20px;
	position: relative;
	top: 20px;
	border: 2px solid black;
}
.exampleborderradiusa { 
	color: black;
	font-size: 20px;
	position: relative;
	top: 20px;
}

div.exampleborderradiusa { 
	border-radius: 5px;
	float: left;
	height: 65px;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 150px;
}
div.exampleborderradiusatop { 
	border-radius: 5px;
	float: left;
	height: 65px;
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 150px;
}
div.group { 
	border-radius: 5px;
	float: left;
	height: 500px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	width: 150px;
}
.pontuacao_header { 
	background-color: BLACK;
}


.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}





#note{
	color: #666666;
	font-size: 12px;
	margin: 0 auto;
	padding: 4px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	width: 400px;
}


