extends ../layout

block content
    section#main.column
      .clear
      article.module.width_full
        form(action='insertCategory', method='POST')
            header
              h3 Create New Category
            .module_content
              fieldset
                label Category Name
                input(type='text', name='categoryName', value='')
              fieldset
                label Category Description
                textarea(rows='12', name='description')
              .clear
            footer
              .submit_link
                input.alt_btn(type='submit', value='Submit')
                input(type='submit', value='Reset')
      //
         end of post new article 
      .spacer